<section id="wrapper">
    <header>
        <div class="inner">
            <h2>Event Details.</h2>
            <p>"I would muster some social capital for tacos"</p>
        </div>
    </header>

    <!-- Content -->
        <div id="three" class="wrapper style3">
            <div class="inner">

                <h2 class="major">Where? When?</h2>
                <p><strong>Location:</strong> <a target="_blank" href="https://goo.gl/maps/3wGQub6gDkm">Studios at Overland Crossing</a></p>
                <p><strong>Date:</strong> September 23, 2017</p>
                <p><strong>Ceremony Time:</strong> 6pm, <em>Reception to follow</em></p>

                <h2 class="major">What do I wear?</h2>
                <p>Cocktail attire. It is a space geek-chic wedding, have fun with sparkle and galaxy prints and nerdy references.</p>

                <h2 class="major">Who is invited?</h2>
                <p><strong><em>This is an event for individuals who are at least 15 years old.</em></strong></p>
                <p>Your RSVP card indicates how many guests are included.</p>

                <h2 class="major">Registries</h2>
                <p>We have registered at the following places:</p>
                <ul>
                    <li>
                        <a target="_blank" href="https://www.amazon.com/wedding/valerie-kraucunas-james-gibson-denver-september-2017/registry/3T56HKOEWRG4L"
                        >
                            Amazon
                        </a>
                    </li>
                    <li>
                        <a target="_blank"
                        href="https://www.crateandbarrel.com/gift-registry/guest/find-registry.aspx"
                        >
                            Crate & Barrel
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.williams-sonoma.com/registry/v9vzd6b628/registry-list.html"
                        >
                            Williams Sonoma
                        </a>
                    </li>
                </ul>
                <p><em>Alternatively, please consider learning about these organizations that are important to us.</em></p>
                <ul>
                    <li><a target="_blank" href="http://www.hrc.org/">Human Rights Campaign</a></li>
                    <li><a target="_blank" href="https://www.eff.org/">Electronic Frontier Foundation: Defending your rights in the digital world</a></li>
                    <li><a target="_blank" href="https://www.maxfund.org/">Denver Max Fund</a></li>
                </ul>

                <h2 class="major">Accomodations</h2>
                <p>There is a number of hotels around the venue and great places to stay in the Denver area. We have set aside rooms at the The Curtis Hotel. <a href="tel:303-571-0300">Just call <i class="fa fa-phone" aria-hidden="true"></i></a> and say that you coming to Denver for our wedding! We chose this location due to its proximity to downtown food options, cultural opportunities, and the light rail.</p>

                <h2 class="major">Events & Activities</h2>
                <p>There will be a bridal shower on Thursday (Sept 21) in the evening. Please refer to that invitation for more information.</p>
                <p><strong>We recommend a fall colors drive in the mountains while you're in Colorado!</strong> Here are a few more ideas:</p>
                <ul>
                    <li>Denver Museum of Nature & Science (some of the best views in/of Denver)</li>
                    <li>Denver Art Museum</li>
                    <li>A drive up to Boulder/Estes Park</li>
                    <li>Washington Park</li>
                    <li>Farmers Markets (Pearl Street is a good one)</li>
                    <li>Visit / hike Red Rocks Amphitheatre</li>
                    <li><a href="https://www.denverfreewalkingtours.com/" target="_blank">Take a Denver Walking Tour</a></li>
                    <li><a href="http://www.venustrappedinmars.com/2017/03/what-to-do-on-weekend-in-denver.html" target="_blank">And even more ideas</a></li>
                </ul>
                <p>A few of our favorite restaurants include: Denver Biscuit Company, Carbon Cafe & Bar, Okinawa Sushi, Freshcraft, Honor Society, Sweet Action Ice Cream.</p>
            </div>
        </section>
        <section id="four" class="wrapper alt style1">
            <div class="inner">
                <h2 class="major">Constellation</h2>
                <p>Wedding Party</p>
                <section class="features">
                    <article>
                        <a href="#" class="image">
                            <img src="assets/images/bri.jpg" alt="Brianna Hernandez" /></a>
                        <h3 class="major">Brianna Hernandez, Bridesmaid</h3>
                        <p>Brianna and Valerie met in college, then moved to Denver together.</p>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="assets/images/knappe.jpg" alt="Rebekah Knappe" /></a>
                        <h3 class="major">Rebekah Knappe, Bridesmaid</h3>
                        <p>Rebekah and Valerie met while playing the front row for the Glendale Raptors Rugby Football Club.</p>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="assets/images/teagan.jpg" alt="Teagan Glenn" /></a>
                        <h3 class="major">Teagan Glenn, Best Ma'am</h3>
                        <p>James's best friend. Teagan has now worked with both James and Valerie.</p>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="assets/images/ginger_formal.jpg" alt="Ginger" /></a>
                        <h3 class="major">Ginger, Bride's Dog, Greeter Dog</h3>
                        <p>Will be hanging around the entrance of the ceremony for pets.</p>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="assets/images/ferd_formal.jpg" alt="Ferdinand" /></a>
                        <h3 class="major">Ferdinand, Bride's Dog, Flower Dog</h3>
                        <p>Will have bells on for the ceremony.</p>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="assets/images/zoey.jpg" alt="Zoey, terrorizer of balls and chickens alike" /></a>
                        <h3 class="major">Zoey, Groom's Dog, Flower Dog</h3>
                        <p>Will do her best to sit still for the ceremony.</p>
                    </article>
                </section>
            </div>
        </section>


</section>
