<section id="wrapper">
    <header>
        <div class="inner">
            <h2>Event Details.</h2>
            <p>"I would muster some social capital for tacos"</p>
        </div>
    </header>

    <!-- Content -->
        <div class="wrapper">
            <div class="inner">

                <h2 class="major">Where? When?</h2>
                <p><strong>Location:</strong> <a target="_blank" href="https://goo.gl/maps/3wGQub6gDkm">Studios at Overland Crossing</a></p>
                <p><strong>Date:</strong> September 23, 2017</p>
                <p><strong>Ceremony Time:</strong> 6pm, <em>Reception to follow</em></p>


                <h2 class="major">What do I wear?</h2>
                <p>Cocktail attire. It is a space geek-chic wedding, have fun with sparkle and galaxy prints and nerdy references.</p>

                <h2 class="major">Other Important Things to Know</h2>
                <p><strong><em>This is an event for individuals who are at least 15 years old.</em></strong></p>

                <p>We are working on gift registries, but in the mean time, please consider learning about these organizations that are important to us.</p>
                <ul>
                    <li><a target="_blank" href="http://www.hrc.org/">Human Rights Campaign</a></li>
                    <li><a target="_blank" href="https://www.eff.org/">Electronic Frontier Foundation: Defending your rights in the digital world</a></li>
                    <li><a target="_blank" href="https://www.maxfund.org/">Denver Max Fund</a></li>
                </ul>

                <p><strong><em>Accomodation, travel, and Colorado information to follow</em></strong></p>


            </div>
        </div>

</section>
