<!-- Banner -->
<section id="banner">
    <div class="inner">
        <div class="logo"><span class="icon fa-diamond"></span></div>
        <h2>James && Valerie</h2>
        <p>Denver, CO | 09.23.2017</p>
    </div>
</section>

<!-- Wrapper -->
<section id="wrapper">

    <!-- One -->
        <section id="one" class="wrapper spotlight style1">
            <div class="inner">
                <a href="#" class="image"><img src="assets/images/ring.jpg" alt="" /></a>
                <div class="content">
                    <h2 class="major">We're getting married!</h2>
                    <p>Join us in September in Denver for a galaxy geek affair! We will be weaving in references to all of our favorite movies, video games, and tv shows that take place in space!</p>
                    <a href="#" class="special">Event Details</a>
                </div>
            </div>
        </section>

    <!-- Two -->
        <section id="two" class="wrapper alt spotlight style2">
            <div class="inner">
                <a href="#" class="image"><img src="assets/images/robots2.gif" alt="" /></a>
                <div class="content">
                    <h2 class="major">About Us</h2>
                    <p>We call each other "fun to know".</p>
                    <br>
                    <a href="#" class="special">Learn more</a>
                </div>
            </div>
        </section>

    <!-- Three -->
        <section id="three" class="wrapper spotlight style3">
            <div class="inner">
                <a href="#" class="image"><img src="assets/images/goofs.jpg" alt="" /></a>
                <div class="content">
                    <h2 class="major">What the heck is "Gibsunas"?</h2>
                    <p>Gibson + Kraucunas = Gibsunas. In case you were wondering, <em>no,</em> there is no real cute way to combine our names. But we <a href="https://www.instagram.com/explore/tags/gibsunas/">hashtagged</a> it anyway.</p>
                    <h6><em>(No, we are not taking this name or anything. The pets might though.)</em></h6>
                </div>
            </div>
        </section>

    <!-- Four -->
        <section id="four" class="wrapper alt style1">
            <div class="inner">
                <h2 class="major">The Peanut Gallery</h2>
                <p>Like us, our pets are pretty opinionated. They will be weighing in, in order of age.</p>
                <section class="features">
                    <article>
                        <a href="#" class="image">
                            <img src="assets/images/ben.jpg" alt="Benjamin, the white wizard cat" /></a>
                        <h3 class="major">Benjamin Gibson, 11</h3>
                        <p>She wakes on time (with prompting) on the weekends to feed me. I suppose she can stay.</p>
                        <a href="#" class="special">Learn more</a>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="assets/images/ginger.jpg" alt="Ginger, the red dragon" /></a>
                        <h3 class="major">Ginger Lou Kraucunas, 8</h3>
                        <p>When I had to get used to wearing my boot, he let me come to the office with him every day for weeks. It helped me find my calling of being an office dog. #grateful</p>
                        <a href="#" class="special">Learn more</a>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="assets/images/ferd.jpg" alt="Ferdinand, the little man, the myth, the legend" /></a>
                        <h3 class="major">Ferdinand Eugene Kraucunas, 7</h3>
                        <p>Big man takes me for coffee runs and lets me assume my rightful position in the middle of the bed for optimal warmth.</p>
                        <a href="#" class="special">Learn more</a>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="assets/images/zoey.jpg" alt="Zoey, terrorizer of balls and chickens alike" /></a>
                        <h3 class="major">Zoey Zoo Gibson, 7</h3>
                        <p>Since her moving in, my time playing fetch has increased exponentially. I vote we keep her.</p>
                        <a href="#" class="special">Learn more</a>
                    </article>
                </section>
            </div>
        </section>

</section>
