<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
	<head>
		<title>Gibsunas Wedding || {{title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="assets/images/favicons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
		<link rel="manifest" href="assets/images/favicons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<!--[if lte IE 8]><script src="javascripts/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="stylesheets/css/main.css" />
		<link rel="stylesheet" href="stylesheets/css/custom.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="stylesheets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="stylesheets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">James && Valerie</a></h1>
						<nav>
							<a href="#menu">Navigate</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="/">Home</a></li>
								<li><a href="/about">About Us</a></li>
								<li><a href="/event">Event Details</a></li>
								<li><a href="/rsvp">RSVP</a></li>
								{{!--<li><a href="/login"><i class="fa fa-key"></i></a></li>--}}
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>
    {{{body}}}
    <!-- Footer -->
					<section id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy; Gibsunas Coop. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP ;)</a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="javascripts/js/skel.min.js"></script>
			<script src="javascripts/js/jquery.min.js"></script>
			<script src="javascripts/js/jquery.scrollex.min.js"></script>
			<script src="javascripts/js/util.js"></script>
			<!--[if lte IE 8]><script src="javascripts/js/ie/respond.min.js"></script><![endif]-->
			<script src="javascripts/js/main.js"></script>
  </body>
</html>
