<section id="wrapper">
    <header>
        <div class="inner">
            <h2>Login.</h2>
            <p>"Your brain is like a dictionary with wet pages."</p>
        </div>
    </header>

    <!-- Content -->
        <div class="wrapper">
            <div class="inner">

                <h2 class="major">Login to Manage RSVP's</h2>
                <p>Just for the engaged folk. Pretend you never saw anything.</p>

                <form>
                    <input type="text" name="user" />
                    <input type="password" name="password" />
                    <input type="submit" />
                </form>
            </div>
        </div>

</section>
