<section id="wrapper">
    <header>
        <div class="inner">
            <h2>RSVP</h2>
            <p>"It's about that time.'"</p>
        </div>
    </header>

    <!-- Content -->
        <div class="wrapper">
            <div class="inner">
                <img src="https://media.giphy.com/media/NIkVbQ0SOl356/giphy.gif" alt="Gif of a hamster waiting and watching from behind a coke bottle" class="soon" />
            </div>
        </div>

</section>
