<section id="wrapper">
    <header>
        <div class="inner">
            <h2>RSVP Complete</h2>
            <p>"No go."</p>
        </div>
    </header>

    <!-- Content -->
        <div class="wrapper">
            <div class="inner">
                <h2 class="major">That is a bummer!</h2>
                <p><em>Thank you for letting us know. You will be missed!</em></p>
                <a href="/">Return home</a>
            </div>
        </div>

</section>
