<section id="wrapper">
    <header>
        <div class="inner">
            <h2>RSVP</h2>
            <p>"It's about that time.'"</p>
        </div>
    </header>

    <!-- Content -->
    <div class="wrapper">
        <div class="inner">
            <p>Please enter your street number below.</p>
            <form action="/rsvp" method="POST">
                <div class="4u$ 12u$(small)">
                    <input
                        id="pin"
                        name="pin"
                        type="number"
                        >
                </div>
                    {{#if error}}
                        <div class="error">
                            <h4>{{ error }}</h4>
                        </div>
                    {{/if}}
                <button>Submit</button>
            </form>
        </div>
    </div>
</section>
