<section id="wrapper">
    <header>
        <div class="inner">
            <h2>RSVP</h2>
            <p>"Yay!"</p>
        </div>
    </header>

    <!-- Content -->
    <div class="wrapper">
        <div class="inner">
            <h2 class="major">We are over the moon that you're joining us!</h2>
            <p><em>Thank you for letting us know.</em></p>
            <p>Feel free to add music suggestions to our <a href="https://open.spotify.com/user/flatlanderesque/playlist/4hPUOXDptpXrovntHF98zD" target="_blank">reception playlist!</a></p>
            <a href="/"><h4>Return home</h4></a>
        </div>
    </div>

</section>
